* {margin: 0; padding: 0; box-sizing: border-box;}

/* cabeçalho */
header {
    
    background-color: #DDA0DD;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #FF1493;
    
}

/* main galeria de produto */
.container {
    background-color: #eee;
    min-height: 30vh;
    padding: 50px;
}

/* tênis */
.card{
    width: 31%; 
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
    margin-bottom: 10px;
}
/* Trabalhando as imagens */
.product-image{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;

}
#img-1{
    background-image: url(../img/vestido1.webp);
}

#img-2{
    background-image: url(../img/vestido2.webp);
}

#img-3{
    background-image: url(../img/vestido3.jpg);
}
#img-4{
    background-image: url(../img/vestido4.jpg);
}

#img-5{
    background-image: url(../img/vestido5.jpeg);
}

#img-6{
    background-image: url(../img/vestido6.webp);
}

h3{
    margin-bottom: 10px;
    color: #DDA0DD;
    border-left: 5px solid #FF1493;
    padding-left: 7px;
    font-size: 24px;
}

.bold{
    font-weight: bold;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FF00FF;
    color: #8B008B;
    padding: 12px;
    border-radius: 5px;
    transition: 1s;
}
.btn:hover {
    background-color:rgba(255, 0, 0, 0.409);
}

/* rodapé */
footer {
    background-color: #DDA0DD;
    color: #fff;
    border-top: 3px;
    padding: 30px;

}


